name: Automated Testing Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"

    - name: Setup Chrome
      uses: browser-actions/setup-chrome@latest

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest pytest-html selenium webdriver-manager

    - name: Start Flask App
      run: |
        # Menjalankan app.py di background
        python app.py &
        sleep 5

    - name: Run Automated Tests
      run: |
        # Menjalankan file test kamu (78.py)
        pytest 78.py --html=laporan_github.html

    - name: Upload Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: laporan_github.html
